<h1> All definitions </h1>
<ul>
  #foreach ($definition in $definitions)
    <li><a href="/definitions/$definition.getId()">$definition.getDescription()</a></li>
  #end
</ul>
<a href="/definition/new">Add New defintion</a>
