<h1>Add a definition</h1>

<p>Add a definition here:</p>

<form action="/definitions" method="post">
  <label for="name">Definition name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Definition</button>
</form>
